*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body{
    background: url("../pictures/routine_background_2.webp");
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Main container */
.profile-container{
    width: 100%;
    display:flex;
    justify-content:center;
}

/* Profile Card */
.profile-card{
    width:380px;
    background:rgba(255,255,255,0.7);
    border-radius:15px;
    padding:20px;
    border:2px solid black;
    backdrop-filter:blur(15px);
    text-align:center;
}

/* Profile Image Section */
.profile-img-box{
    margin-bottom:15px;
}

.profile-picture{
    width:120px;
    height:120px;
    border-radius:50%;
    border:3px solid black;
    margin-bottom:10px;
}

.change-btn{
    border:2px solid black;
    padding:5px 12px;
    border-radius:8px;
    background:white;
    cursor:pointer;
    font-weight:600;
}

.change-btn:hover{
    background:black;
    color:white;
    transform:scale(1.05);
}

/* Profile Info */
.profile-name{
    margin-bottom:5px;
    font-size:28px;
}

.email, .joined{
    font-size:14px;
    margin-bottom:5px;
}

/* Divider */
.profile-card hr{
    border:1px solid black;
    margin:15px 0;
}

/* Details section */
.details{
    text-align:left;
}

.details h3{
    margin-bottom:10px;
}

.details label{
    font-weight:600;
}

.details input{
    width:100%;
    padding:8px;
    margin:8px 0 15px 0;
    border:2px solid black;
    border-radius:8px;
}

/* Button */
.save-btn{
    width:100%;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    background:white;
    cursor:pointer;
}

.save-btn:hover{
    background:black;
    color:white;
    transform:scale(1.05);
}
.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 8px 14px;
    border-radius: 10px;
    background: white;
}

.back-btn:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}
